<div class="container mt-5">
  <div class="col-sm">
    <div class="w-100 card">
      <div class="card-body">
        <form [formGroup]="registrationForm" (ngSubmit)="send()">
          <div formGroupName="person">
            <div class="form-group">
              <label for="inputEmail">Email</label>
              <input name="email"
                     formControlName="email"
                     type="email"
                     class="form-control"
                     id="inputEmail"
                     placeholder="Email">
              <div *ngFor="let error of formErrors.email">
              <span *ngIf="registrationForm.get('person.email').hasError(error.type)
              && registrationForm.get('person.email').touched"
                    [ngStyle]="{color: 'red'}">{{ error.message }}</span>
              </div>
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input name="lastName"
                     formControlName="lastName"
                     type="text"
                     class="form-control"
                     id="lastName"
                     placeholder="Last Name">
              <div *ngFor="let error of formErrors.lastName">
              <span *ngIf="registrationForm.get('person.lastName').hasError(error.type)
              && registrationForm.get('person.lastName').touched"
                    [ngStyle]="{color: 'red'}">{{ error.message }}</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input name="password"
              formControlName="password"
              type="password"
              class="form-control"
              id="inputPassword"
              placeholder="Password">
            <div *ngFor="let error of formErrors.password">
              <span *ngIf="registrationForm.get('password').hasError(error.type)
              && registrationForm.get('password').touched"
                    [ngStyle]="{color: 'red'}">{{ error.message }}</span>
            </div>
          </div>
          <div class="form-group">
            <label for="repeatPassword">Password check</label>
            <input name="password"
                   formControlName="repeatPassword"
                   type="password"
                   class="form-control"
                   id="repeatPassword"
                   placeholder="Repeat Password">
            <span [ngStyle]="{color: 'red'}"
                  *ngIf="(registrationForm.errors?.mismatch && registrationForm.get('repeatPassword').touched)">
              Введенные пароли не совпадают
            </span>
            <div *ngFor="let error of formErrors.repeatPassword">
              <span *ngIf="(registrationForm.get('repeatPassword').hasError(error.type)
              && registrationForm.get('repeatPassword').touched)"
                    [ngStyle]="{color: 'red'}">{{ error.message }}</span>
            </div>
          </div>
          <ng-container formArrayName="phones">
            <ng-container *ngFor="let phones of phones().controls; let i = index"
                          [formGroupName]="i">
              <div class="form-row">
                <div class="form-group col-md-5">
                  <label for="phone">Phone</label>
                  <input name="phone"
                    formControlName="phone"
                    type="text"
                    class="form-control"
                    id="phone"
                    placeholder="Phone">
                  <div *ngFor="let error of formErrors.phone">
                    <span *ngIf="phones.get('phone').hasError(error.type)
                    && phones.touched"
                          [ngStyle]="{color: 'red'}">{{ error.message }}</span>
                  </div>
                </div>
                <div class="form-group col-md-3">
                  <label for="inputState">Type</label>
                  <select id="inputState" class="form-control" formControlName="type">
                    <option selected>Рабочий</option>
                    <option>Мобильный</option>
                    <option>Домашний</option>
                  </select>
                </div>
                <div class="form-group col-md-2">
                  <label for="inputState">Action</label>
                  <button
                    type="button"
                    class="form-control btn btn-danger"
                    (click)="deletePhone(i)"
                  >Удалить</button>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <div class="form-group">
            <button type="button"
                    (click)="addNewPhone()"
                    class="btn btn-info"
            >Добавить телефон</button>
          </div>
          <div class="form-group">
            <label class="form-check-label">
              <input
                name="remember"
                formControlName="remember"
                type="checkbox"
              >Получать уведомления</label>
          </div>
          <button type="submit"
                  [disabled]="registrationForm.invalid"
                  class="btn btn-primary mr-2"
          >
            Зарегистрироваться</button>
        </form>
      </div>
    </div>
  </div>
</div>
