<table class="table table-striped, table-bordered">
  <thead>
  <tr>
    <th scope="col">Название задачи</th>
    <th scope="col">Категория</th>
    <th scope="col">Дата начала</th>
    <th scope="col">Дата окончания</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Попытаться изучить Angular</td>
    <td>Работа</td>
    <td>07.10.2020</td>
    <td>30.10.2020</td>
  </tr>
  <tr>
    <td>Научиться играть на гитаре</td>
    <td>Хобби</td>
    <td>01.04.2020</td>
    <td>22.09.2021</td>
  </tr>
  <tr>
    <td>Выучить английский язык</td>
    <td>Работа</td>
    <td>07.10.2020</td>
    <td>08.10.2021</td>
  </tr>
  </tbody>
</table>
