<div class="container" *ngIf="!isAuth">
  <div class="row">
      <div style="color:red; font-weight: bold; margin: 30px 0;">
          Такой пользователь не зарегистрирован
      </div>
  </div>
</div>
<div class="card-body">
  <form (ngSubmit)="submitForm()" #loginForm="ngForm">
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label" style="font-weight: bold">Ваш email: </label>
      <div class="col-sm-5">
        <input ngModel
               name="email"
               required
               email
               #email="ngModel"
               class="form-control"
               id="email">
        <p *ngIf="email.invalid && email.touched" style="color:red">Введите корректный email</p>
      </div>
    </div>
    <div ngModelGroup="auth" #auth="ngModelGroup">
      <div class="form-group row">
        <label for="login" class="col-sm-2 col-form-label" style="font-weight: bold">Ваш логин: </label>
        <div class="col-sm-5">
          <input ngModel
                 name="login"
                 required
                 type="text"
                 class="form-control"
                 id="login">
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label" style="font-weight: bold">Ваш пароль: </label>
        <div class="col-sm-5">
          <input ngModel
                 name="password"
                 required
                 minlength="4"
                 maxlength="15"
                 #password="ngModel"
                 [style]="password.invalid"
                 type="password"
                 class="form-control"
                 id="password">
        </div>
      </div>
      <p *ngIf="auth.invalid && auth.touched" style="color: red">Проверьте Ваш логин и пароль</p>
    </div>
    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">Войти</button>
    <button type="button" class="btn btn-info" (click)="setAnonymous()">Login as Anonymous</button>
  </form>
</div>
