<h1>Hello Angular World!</h1>

<p>
  {{ now | date: 'long' | uppercase }}
</p>

<!--<ul>-->
<!--  <li *ngFor="let number of arr; let idx = index">-->
<!--    {{idx + 1}} <strong>{{number}}</strong>-->
<!--  </li>-->
<!--</ul>-->


<!--<ul style="list-style: none">-->
<!--  <li *ngFor="let post of objects">-->
<!--    <p>{{post.title}} <b>{{post.author}}</b></p>-->
<!--    <ul>-->
<!--      <li *ngFor="let comment of post.comments">-->
<!--        <div>-->
<!--          <small>{{comment.name}}</small>-->
<!--          <p>{{comment.text}}</p>-->
<!--        </div>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </li>-->
<!--</ul>-->
<!--<button (click)="toggle = !toggle">Toggle</button>-->
<!--<button (click)="toggle = 111">Set 111</button>-->

<!--<div [ngSwitch]="toggle">-->
<!--  <p *ngSwitchCase="true" class="red">Lorem ipsum.</p>-->
<!--  <p *ngSwitchCase="false" class="blue">Lorem ipsum. Lorem ipsum.</p>-->
<!--  <p *ngSwitchDefault>Lorem ipsum dolor sit amet.</p>-->
<!--</div>-->

<!--<p *ngIf="toggle; else blueP" class="red">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, earum!</p>-->

<!--<ng-template #blueP>-->
<!--  <p class="blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, eius.</p>-->
<!--</ng-template>-->

<!--<div [ngStyle]="{-->
<!--  width: '200px',-->
<!--  height: '200px',-->
<!--  borderRadius: '5px',-->
<!--  border: '1px solid #ccc',-->
<!--  background: backgroundToggle ? 'red' : 'blue'-->
<!--}">-->

<!--</div>-->

<!--<p [ngClass]="{-->
<!--  red: backgroundToggle,-->
<!--  blue: !backgroundToggle-->
<!--}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, quam!</p>-->

<!--<p-->
<!--  [class.blue]="!backgroundToggle"-->
<!--  [class.red]="backgroundToggle"-->
<!--&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet autem cupiditate maxime minima neque quas temporibus tenetur!</p>-->
