<div class="container">
  <h1>Angular Directives</h1>

  <p appStyle="red" [dStyles]="{border: '1px solid blue', borderRadius: '5px'}">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, saepe.
  </p>

  <p appStyle="blue" [dStyles]="{border: '1px solid red', borderRadius: '15px'}">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequatur doloribus iste numquam velit vitae.
  </p>

  <button class="btn" (click)="isVisible = !isVisible">Toggle</button>

  <ng-template [ngIf]="isVisible">
    <div class="wrap">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut cumque cupiditate dignissimos dolorem eum facere impedit necessitatibus recusandae vitae!</p>
    </div>
  </ng-template>

  <hr />

  <div class="wrap" *appIfnot="!isVisible">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut cumque cupiditate dignissimos dolorem eum facere impedit necessitatibus recusandae vitae!</p>
  </div>

  <hr />

  <ng-template [appIfnot]="!isVisible">
    <div class="wrap">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut cumque cupiditate dignissimos dolorem eum facere impedit necessitatibus recusandae vitae!</p>
    </div>
  </ng-template>
</div>
