<h1>Hello Angular World!</h1>

<!--<p>{{ title }}</p>-->

<!--<p><strong>{{ number - 2 }}</strong></p>-->

<!--<p><strong>{{ arr }}</strong></p>-->

<!--<p><strong>{{ obj.b.c }}</strong></p>-->

<!--<p><strong>{{ 40 + 2 }}</strong></p>-->

<!--<p><strong>{{ 'Hello' + ' World' }}</strong></p>-->

<!--<img [src]="img">-->

<!--<button (click)="onClick()">Click me!!!</button>-->

<!--<input-->
<!--  type="text"-->
<!--  (keyup.enter)="onInput($event)"-->
<!--  (blur)="onBlur(myInput.value)"-->
<!--  #myInput-->
<!--&gt;-->
<!--<p><strong>{{inputValue}}</strong></p>-->

<!--<hr>-->

<!--<app-post></app-post>-->
<!--&lt;!&ndash;<app-post></app-post>&ndash;&gt;-->

<!--<hr>-->

<!--<app-post4></app-post4>-->

<input type="text" [(ngModel)]="title">

<p>{{ title }}</p>
